* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: "Product Sans" !important;
}

.is-fixed {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  .is-fixed {
    padding-left: 0;
  }
}

.row {
  margin: 0 !important;
}

.card {
  border-radius: 1rem !important;
  padding: 20px !important;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
}

.card-content {
  padding: 10px !important;
}

.card-action {
  padding-top: 0 !important;
  padding-bottom: 30px !important;
  border-top: none !important;
}


.card-title {
  font-weight: 400 !important;
  font-size: 20px !important;
}

.btn {
  text-transform: capitalize !important;
  font-weight: 500 !important;
  font-family: "Product Sans" !important;
  border-radius: 1rem !important;
}

.name {
  text-transform: capitalize !important;
}

.background {
  background-color: #263238;
}

.loader-container {
  position: fixed;
    z-index: 1000;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loader-container:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20, .5), rgba(0, 0, 0, .5));

  background: -webkit-radial-gradient(rgba(20, 20, 20, .5), rgba(0, 0, 0, .5));
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);
}

.not-found i {
  font-size: 3em;
}

.permission {
  text-transform: capitalize;
}

table {
  text-transform: capitalize !important;
}

tr:hover {
  cursor: pointer;
}