* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: "Product Sans" !important;
}

.is-fixed {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  .is-fixed {
    padding-left: 0;
  }
}

.row {
  margin: 0 !important;
}

.card {
  border-radius: 1rem !important;
  padding: 20px !important;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
}

.card-content {
  padding: 10px !important;
}

.card-action {
  padding-top: 0 !important;
  padding-bottom: 30px !important;
  border-top: none !important;
}


.card-title {
  font-weight: 400 !important;
}

.btn {
  text-transform: capitalize !important;
  font-weight: 500 !important;
  font-family: "Product Sans" !important;
  border-radius: 1rem !important;
}

.name {
  text-transform: capitalize !important;
}

.background {
  background-color: #263238;
}